[submodule "tools/ctags"]
	path = tools/ctags
	url = https://github.com/universal-ctags/ctags.git
[submodule "tools/oh-my-tmux"]
	path = tools/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "vim/gen_systags"]
	path = vim/gen_systags
	url = https://github.com/adah1972/gen_systags.git
